
<div class="container pt-4">
<table class="table table-bordered">
    <thead class="table table-striped table-dark">
        <tr>
            <th>  idEtudiant </th>
            <th>  FirstName </th>
            <th>  LastName </th>
            <th>  Email </th>
            <th>  Option </th>
            <th>  department </th>
            <th>  Age </th>
     
           



        </tr>

    </thead>

    <tbody class="tbody">
        <tr *ngFor="let student of list | paginate:{itemsPerPage:tableSize,currentPage:page,totalItems:count};let i=index">
            <td> {{student.idEtudiant}} </td>
            <td> {{student.prenomE  }} </td>
            <td> {{student.nomE }} </td>
            <td> {{student.emailE }} </td>
            <td  > {{student.opt}} </td>
            <td > {{student.depart.nomDepart}} </td>
            <td> {{student.ageE}} </td>
            
            
        </tr>
    </tbody>
  
</table> 
</div>
<div>
    <pagination-controls previousLabel="Precedent" nextLabel="Suivant"(pageChange)="onTableDataChange($event)"></pagination-controls>
  </div>
