

<nav class="navbar navbar-dark btn btn-dark">
    <div class="container-fluid">

  
    <a class="navbar-brand" routerLink="/studentMain"><i>Student Management </i></a>
        <a class="navbar-brand" routerLink="/detailsStud"><i>Service </i>  </a>
          <div>
            <div class="d-flex" role="search">
                <a class="navbar-brand">Search student By Id  </a>

                <div class="input-group" >
              <input type="text"  #idEtudiant [(ngModel)]="studentwithId.idEtudiant" name="idEtudiant" id="idEtudiant" aria-label="idEtudiant" class="form-control" placeholder="idEtudiant">
              <button #getStById class="btn btn-secondary" type="submit" data-bs-toggle="modal" data-bs-target="#studentwithId" (click)="getStudentById()">Search</button>

            </div>
          </div>

          </div>
          </div>
  </nav>

  <!--modal-->
<div class="modal fade" id="studentwithId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">List for Student  N°{{studentwithId.idEtudiant}}  </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <dl class="list-group"  >
        <dt class="list-group-item-dark active"> <h1 [ngStyle]="{color:'#520000' }"> Student is :</h1> </dt>
        <dd [ngStyle]="{color:'#1e293e' }" >First Name: {{studentById.prenomE | uppercase}}  </dd>
        <dd [ngStyle]="{color:'#1e293e' }" >Laste Name: {{studentById.nomE | uppercase}}  </dd>
        <dd  [ngStyle]="{color:'#1e293e' }">Age : {{studentById.ageE }}  </dd>
        <dd [ngStyle]="{color:'#1e293e' }">Email: {{studentById.emailE }}  </dd>
        <dd  [ngStyle]="{color:'#1e293e' }">Option: {{studentById.opt }}  </dd>
        <dd [ngStyle]="{color:'#1e293e' }" >name Of Department: {{studentById.depart.nomDepart}}   </dd>
        <dd  [ngStyle]="{color:'#1e293e' }">Sexe: {{studentById.sexe }}  </dd>
        
        </dl>
    
    </div>
  </div>
</div>
<!------>



