

<div class="card w-100" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Display all students by gender</h5>
    <div class="input-group"   >

      <select #sexe="ngModel" class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon"
         type="sexe"  [(ngModel)]="empSelected" name="sexe" id="sexe"
       (ngModelChange)="onGendreSelected($event)  "(select)="toogleTag()"
         (ngModel)="sexe" required>

        <option selected disabled>Choose...</option>
        <option *ngFor="let ge of Genre " [value]="ge.gendr" >{{ge.gendr}}</option>
        
      </select>

      
      
      <button class="btn btn-dark" type="button" [disabled]="sexe.invalid"  (click)="getStudentByGender()" >Button</button>

    </div>

  </div>
</div>
